@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");

.books-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16.25rem;
}

.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-container {
  display: flex;
  width: 90%;
  background: linear-gradient(
    rgba(144, 204, 244, 0.7),
    rgba(144, 204, 244, 0.7),
    rgba(144, 204, 244, 0.7),
    #fff49c
  );
  margin-bottom: 10px;

  font-family: "Baloo Bhai", cursive;
  border-radius: 10px;
}

.book-img {
  max-width: 12.5rem;
  border: 2px solid black;
  margin: 10px 20px 10px 10px;
}

.book-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-title {
  text-decoration: underline;
  margin: 0 10px 0 0;
}

.book-authors {
  color: rgba(0, 0, 0, 0.6);
  margin: 0 10px 0 0;
}

.book-categories {
  background: rgba(140, 0, 100, 0.5);
  border-radius: 20px;
  padding: 0 0.625rem 0 0.625rem;
  display: inline-block;
  width: max-content;
}

.book-link {
  text-decoration: none;
  color: black;
  background: #f78888;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: capitalize;
}

.book-link:hover {
  cursor: pointer;
  background: black;
  color: #f78888;
}

.book-image-link:hover {
  transform: scale(1.1);
}

.results-navigation {
  font-family: "Baloo Bhai", cursive;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}

.max-results-selector {
  font-family: "Baloo Bhai", cursive;
  font-size: 1.25rem;
  margin: 0 10px;
  background: rgba(144, 204, 244, 0.7);
}

.navigation-arrow {
  color: rgba(140, 0, 100);
}

@media screen and (min-width: 690px) {
  .books-container-wrapper {
    margin-top: 6.25rem;
  }

  .books-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (min-width: 1300px) {
  .books-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
