@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");

.input-container {
  display: flex;
  margin: 0 0 10px 0;
}

.button-search {
  font-size: 1.625rem;
  font-family: "Baloo Bhai", cursive;
  background: #f78888;
}

.input-search {
  font-size: 1.625rem;
  flex-grow: 100;
  background: #f78888;
  font-family: "Baloo Bhai", cursive;
  text-align: center;
}

@media screen and (min-width: 690px) {
  .input-search {
    font-size: 1.625rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 0;
    border: none;
  }
  .button-search {
    font-size: 1.25rem;
    border: none;
    margin: 0;
    background: purple;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
